{% extends 'blog/base.html.twig' %}

{% block content %}
        <!-- HERO -->
        <section class="uk-section uk-section-small">



            <div class="uk-cover-container uk-height-medium">

                    <img class="uk-transition-scale-up uk-transition-opaque" data-src="http://via.placeholder.com/1200x400" alt="" uk-img>



            </div>


        </section>

        <!-- HERO -->


        <!--ARTICLE-->

        <section class="uk-section uk-article">


 

            <!-- text -->
            <div class="uk-container uk-container-small" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500">

                <div class="uk-card uk-card-hover uk-card-body uk-text-center">

                    <h3 class="c-title uk-h1">Contact</h3>

                    <p class="uk-text-left">Le théâtre El Hamra est l'un des théâtres de la ville de Tunis. Il abrite des activités de production théâtrales, de distribution, d'initiation ainsi que de formation des professionnels du théâtre aux différentes professions scéniques.</p>

                </div>
                <div  class="uk-text-center uk-margin-small-left" uk-grid>

                        <div class="uk-card uk-card-hover uk-card-body">

                            <i class="ion-ios-location uk-text-large"></i>
                            <a class="uk-text-meta  uk-h3 uk-margin-small-left" href="#">28,Rue Aljazira 1000 Tunis, Tunisia.</a>
                        </div>                                                   
                         <div class="uk-card uk-card-hover uk-card-body">

                            <i class="ion-android-call uk-text-large "></i>
                            <a class="uk-text-meta uk-h3 uk-margin-small-left " href="#">(+216) 71 320 734</a>
                         </div> 

                        <div class="uk-card uk-card-hover uk-card-body">

                            <i class="ion-android-mail uk-text-large"></i>
                            <a class="uk-text-meta uk-h3 uk-margin-small-left " href="#">theatrelhamra@gmail.com</a>

                         </div>
 
                </div>

                <div class="uk-card uk-card-hover uk-card-body">


                    <form class=" uk-form-stacked ">

                        <div class="uk-margin ">
                            <div class="uk-form-controls ">
                                <input class="uk-input " id="form-stacked-text " type="text " placeholder="NOM * ">
                            </div>
                        </div>
                        <div class="uk-margin ">
                            <div class="uk-form-controls ">
                                <input class="uk-input " id="form-stacked-text " type="text " placeholder="EMAIL * ">
                            </div>
                        </div>
                        <div class="uk-margin ">
                            <div class="uk-form-controls ">
                                <input class="uk-input " id="form-stacked-text " type="text " placeholder="SUJETS * ">
                            </div>
                        </div>
                        <div class="uk-margin ">
                            <div class="uk-form-controls ">
                                <textarea class="uk-textarea " rows="5 " placeholder="VOTRE MESSAGE "></textarea>
                            </div>
                        </div>


                        <button class="uk-button uk-button-secondary uk-button-large tw-hover btn-subscribe uk-align-center "><span class="tw-hover-inner "><span>S'inscrire</span><i class="ion-ios-arrow-thin-right "></i></span></button>

                    </form>
                </div>



                <div class="uk-card uk-card-hover uk-card-body uk-cover-container ">

                    <iframe class="uk-padding uk-align-center" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12779.694306371217!2d10.1759449!3d36.7963827!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9cbf820b9d8c315e!2zVGjDqcOidHJlIEFsIEhhbXJh!5e0!3m2!1sfr!2stn!4v1601465584117!5m2!1sfr!2stn"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>



            </div>
            <!-- text -->




        </section>

        <!-- /ARTICLE-->
{% endblock %}
