{% extends 'base.html.twig' %} {% block body %}


<div class="d-flex justify-content-center">
    <div class="col col-6 ml-8">
        <div class="card mt-5">
            <h5 class="card-header text-center">Registartion Form</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>



{% endblock %}