{% extends 'blog/base.html.twig' %} {% block content %}
<!--CONTENT-->
<div class="uk-section uk-section-default ">




    <div class="uk-container ">

        <div class="uk-card uk-card-default uk-grid-collapse  uk-width-3-3@m  uk-child-width-1-2@s uk-margin" uk-grid uk-scrollspy="cls: uk-animation-slide-left-medium; repeat: true">
            <div class="uk-card-media-left uk-cover-container">
                <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-right">

                    <img src="{{ asset('_elhamra/images/espace_02.PNG') }}" alt="" uk-cover>
                </div>

                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title  c-title">LIEU DES PREMIERS PAS</h3>
                    <p>El Hamra, théatre de tous les arts, est le lieu des premiers pas, des premières fois, des premiers amours de la scène. El Hamra est un espace historique et mythique : une salle de cinéma datant du début du 20e siècle et un haut lieu
                        qui a fait vivre une expression théâtrale majeure en Tunisie depuis sa réouverture officielle en 1987, par le grand homme de théâtre Ezzedine Gannoun. </p>
                    <p>El Hamra, ouvre ses portes aux jeunes talents tunisiens et Arabo-Africains dans le but de les accompagner, renforcer leurs acquis et partager avec eux notre réseau et expériences. Notre objectif est d’offrir les trois grands axes indispensables
                        à tout artiste, à savoir la formation, la production, et la diffusion. El Hamra est une plateforme nationale et internationale qui renforce les connaissances des jeunes artistes dans tous les domaines des arts du spectacle.. </p>

                </div>
            </div>
        </div>







        <div class="uk-card uk-card-default uk-grid-collapse  uk-width-3-3@m  uk-child-width-1-2@s uk-margin" uk-grid uk-scrollspy="cls: uk-animation-slide-left-medium; repeat: true">


            <div class="uk-card-media-left uk-cover-container">
                <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-right">

                    <img src="{{ asset('_elhamra/images/espace_01.jpg') }}" alt="" uk-cover>
                </div>

                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title  c-title">UNE ARCHITECTURE UNIQUE</h3>

                    <p>La salle de cinéma l’Alhambra , devenu le théâtre « El Hamra » a été érigée en 1922. Les plans présentés ont été conçus et signés par les architectes M. Gigli et F. Marcenaro. Architecte italien Francesco Marcenaro habitait au N° 23
                        rue d’Italie à Tunis. Exerçant dans cette ville durant les années 1920, il a réalisé plusieurs édices marqués par leur diversité comme le cinéma le Rio dans sa version de 1926, le Capitole et lle Théâtre EL HAMRA en 1921. Cet architecte
                        est connu par ses œuvres de style Art déco, et il a eu l’opportunité de travailler avec plusieurs autres architectes français et italiens comme Piollenc et De Simoni.</p>

                    <p>La salle de Théâtre EL HAMRA est accessible à partir d’un passage privé qui s’élargit en courette, formant un dégagement semblable à une « Driba ». Ce qui est à souligner c’est qu’il s’agit d’un espace appartenant au registre médinal
                        avec vocabulaire architectural d’ordre colonial. Ce mélange architectural est en harmonie avec la situation de la salle, sur la jonction entre la Médina et la ville européenne matérialisée par la rue Al-Jazira.</p>
                </div>
            </div>
        </div>


        <div class="uk-card uk-card-default     uk-margin" uk-grid uk-scrollspy="cls: uk-animation-slide-left-medium; repeat: true">

            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title uk-text-uppercase c-title">UNE SALLE DE SPECTACLE</h3>

                    <iframe width="1000" height="540" src="https://www.youtube.com/embed/p5LshF_6YFk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <ul>
                        <li>Capacité : 140 places orchestre +100 places balcon</li>
                        <li>Salle climatisée</li>
                        <li>2 Loges artistes</li>
                        <li>2 entrées public</li>
                        <li>Rideau noir fond de scène</li>
                        <li>Ecran motorisé de projection : 3.5m sur 4m</li>
                        <li>Ecran de projection perforé fixe ( sur demande) : 9m x 5m</li>
                    </ul>
                    <h4>Scéne :</h4>
                    <ul>

                        <li>Ouverture : 10 m</li>
                        <li>Profondeur : 6m,50 + plateforme d’1 m</li>
                        <li>Hauteur : 5m sous cintres</li>
                        <li>Rideau noir fond de scène </li>
                        <li>Scène couverte tapis PVC gris foncé</li>



                    </ul>


                </div>
            </div>
        </div>




    </div>
</div>
<!--/CONTENT-->
{% endblock %}