<!--FOOTER-->
<footer class="uk-section uk-section-small ">

    <div class="uk-grid-collapse uk-child-width-expand@s " uk-grid uk-scrollspy="cls: uk-animation-fade; target: .footer-content; delay: 200; repeat: true">
        <div class="footer-content">
            <div class=" uk-light uk-padding ">
                <h4 class="uk-text-uppercase">El Hamra</h4>
                <p>Le théâtre El Hamra est l'un des théâtres de la ville de Tunis. Il abrite des activités de production théâtrales, de distribution, d'initiation ainsi que de formation des professionnels du théâtre aux différentes professions scéniques.</p>
            </div>
        </div>

        <div class="footer-content">
            <div class=" uk-light uk-padding">

                <h4>Contact</h4>
                <ul>
                    <li>
                        <i class="ion-ios-location"></i>
                        <a class="uk-text-meta  " href="#">28,Rue Aljazira 1000 Tunis, Tunisia.</a>
                    </li>
                    <li>
                        <i class="ion-android-call  "></i>
                        <a class="uk-text-meta uk-" href="#">(+216) 71 320 734</a>
                    </li>
                    <li>
                        <i class="ion-android-mail"></i>
                        <a class="uk-text-meta " href="#">theatrelhamra@gmail.com
                            </a>
                    </li>

                </ul>


                <a class="uk-button uk-button-default tw-hover" href="{{ path('contactpage') }}"><span class="tw-hover-inner"><span>Nous Contactez</span><i class="ion-ios-arrow-thin-right"></i></span></a>

            </div>
        </div>
        <div class="footer-content">
            <div class=" uk-light uk-padding">

                <div>
                    <div class="widget tw-contact-widget">
                        <h3 class="widget-title"><span>Newsletter</span></h3>
                        <p> Rejoignez nous ! Saisissez votre adresse e-mail pour vous abonner à ce blog et recevoir une notification de chaque nouvel evenement</p>

                        <form class="uk-grid uk-grid-collapse" action="price.html" data-uk-grid>
                            <div class="uk-width-expand">
                                <input class="uk-input" type="email" required name="email" placeholder="Your E-mail">
                            </div>
                            <div class="uk-width-auto">
                                <button class="uk-button uk-button-primary" data-uk-icon="check"></button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>




    </div>
    <!--
    <div>
        <img class="uk-card uk-card-default uk-card-body" src="{{ asset('_elhamra/images/LOGO FESTIVAL E.G NOIR.png') }}" width="100%" alt="">
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-margin-left">
        <img src="{{ asset('_elhamra/images/logo_araf.png') }}" alt="">
    </div>
-->




    <hr class="uk-light  uk-divider-icon">

    <div class="footer-area footer-small ">
        <div class="uk-container">
            <div class="uk-text-center">
                <div class="copyright">
                    © Copyright 2020 - All Rights Reserved by <a class="uk-text-meta" target="blank" href="http://portf-goati.freemyip.com/">GoatiProd</a>
                </div>

            </div>
        </div>
    </div>


</footer>
<!--/FOOTER-->