{% extends 'blog/base.html.twig' %}

{% block content %}
        <!--ARTICLE-->

        <section class="uk-section uk-article">


            <div class="uk-container uk-container-small">
                <h3 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top ">Centre Arabo Africain de Formation et de Recherches Théâtrales</h3>
                <p class="uk-article-meta">Written on 27 September 2020. Posted in <a href="#">Blog</a> | <span data-uk-icon="icon: future"></span> Takes 10 min reading.</p>
            </div>

            <!-- large image -->
            <div class="uk-container uk-section">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <img class="uk-transition-scale-up uk-transition-opaque" src="http://via.placeholder.com/1200x400" alt="">
                </div>

            </div>
            <!-- /large image -->
            <!-- text -->
            <div class="uk-container uk-container-small example" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500">

                <div class="uk-card uk-card-hover uk-card-body">

                    <h3 class="c-title">UN CENTRE UNIQUE DANS LE MONDE ARABE ET EN AFRIQUE</h3>
                    <p>Centre Arabo Africain de Formation et de Recherches Théâtrales (CAAFRT) créée en 2001 et hébergé à El Hamra, Théâtre de tous les Arts en Tunisie.</p>
                </div>

                <div class="uk-card uk-card-hover uk-card-body">

                    <h3 class="c-title">PAR QUI ?</h3>
                    <p>Par Ezzeddine GANNOUN, homme de théâtre tunisien, auteur, metteur en scène, formateur, expert international, co-fondateur de la troupe du théâtre Organique, directeur et fondateur du Théâtre El Hamra.</p>

                </div>
                <div class="uk-card uk-card-hover uk-card-body">

                    <h3 class="c-title">POUR QUI ?</h3>
                    <p>Pour les jeunes professionnels issus des pays arabes et africains et opérant dans toutes les spécialités des arts, métiers et techniques de la scène.</p>
                </div>
                <div class="uk-card uk-card-hover uk-card-body">


                    <h3 class="c-title">POURQUOI ?</h3>
                    <p>Outiller les jeunes professionnels arabes et africains afin qu’ils maîtrisent, perfectionnent et développent leurs connaissances.</p>
                    <p>Pour leur donner les moyens nécessaires pour une pratique théâtrale à la fois authentique et contemporaine, riche en matière d’esthétique, d’expérimentation, de renouvellement et de recherche.
                    </p>
                    <p>Pour leur donner la possibilité d’apporter un plus et d’oeuvrer dans leur propre pays en proposant des expériences théâtrales originales et marquantes qui puissent se positionner par rapport aux nouvelles tendances internationales.</p>
                    <p>Pour leur offrir un espace de liberté, d’expression et de création.</p>
                    <p>Pour les aider à faire adapter leurs nouvelles connaissances et leur savoir à la réalité de leur pays.</p>
                    <p>Pour promouvoir la culture comme outil de développement local et économique.</p>
                </div>

                <div class="uk-card uk-card-hover uk-card-body">

                    <h3 class="c-title">ARABO-AFRICAIN POURQUOI ?</h3>
                    <p>Pour établir un pont et faire naître des passerelles entre l’Afrique et le monde arabe. Ces deux régions souffrent d’une rupture de dialogue, d’échange et d’une méconnaissance mutuelle malgré la richesse de la diversité des deux cultures.</p>
                    <p>Pour créer un vivier où seront fédérées les énergies créatrices et les expériences théâtrales arabo-africaines.</p>
                    <p>Pour créer un réseau d’échange sud/sud et nord/sud en matière de formation, de production et de diffusion.</p>
                </div>
                <div class="uk-card uk-card-hover uk-card-body">

                    <h3 class="c-title">SES POINTS FORTS</h3>
                    <p>Un Centre unique dans le monde arabe et en Afrique.</p>
                    <p>Une offre consciente de la réalité et des conditions dans lesquelles vivent et travaillent les jeunes professionnels arabes et africains.</p>
                    <p>Le Centre prend à sa charge tous les frais relatifs à la participation des artistes aux ateliers de formation (transport international et local, hébergement, restauration et poket money).</p>
                    <p>La compétence et le positionnement international des pédagogues et formateurs.</p>
                </div>
                <div class="uk-card uk-card-hover uk-card-body">


                    <h3 class="c-title">ACTIVITÉS</h3>
                    <p>L’organisation d’ateliers pratique de formation et de perfectionnement destinés aux jeunes professionnels arabes et africains dans toutes les spécialités artistiques, techniques ou administratives.</p>
                </div>
                <div class="uk-card uk-card-hover uk-card-body">


                    <h3 class="c-title">Disciplines </h3>
                    <ul>
                        <li>L’art du comédien</li>
                        <li>La mise en scène</li>
                        <li>La scénographie</li>
                        <li>La chorégraphie (option théâtre)</li>
                        <li>Le conte</li>
                        <li>La lumière (conception)</li>
                        <li>La musique (conception)</li>
                        <li>Les costumes (conception)</li>
                        <li>Le maquillage (conception)</li>
                        <li>La régie (générale, plateau, éclairage, son…)</li>
                        <li>La gestion et direction des institutions théâtrales </li>
                        <li>La communication</li>
                        <li>La critique théâtrale</li>

                    </ul>
                </div>
                <div class="uk-card uk-card-hover uk-card-body">


                    <h3 class="c-title">Les recherches</h3>
                    <p>L’organisation de cercles d’études et de réflexion sur :</p>
                    <ul class="uk-list uk-list-hyphen">
                        <li>Les réalités de la pratique théâtrale arabe et africaine</li>
                        <li>Les mouvements et tendances artistiques du théâtre arabe et africain dans les différentes étapes de la formation, la création et la diffusion</li>
                        <li>L’impact des oeuvres théâtrales sur l’individu et son environnement socio - culturel</li>
                        <li>Les expériences théâtrales originales et marquantes dans le monde arabe et en Afrique</li>
                        <li>La place qu’occupe la production théâtrale dans l’économie des sociétés arabes et africaines</li>
                    </ul>
                </div>

                <button class="uk-button uk-button-secondary  uk-button-large tw-hover btn-subscribe uk-align-center"><span class="tw-hover-inner"><span>S'inscrire</span><i class="ion-ios-arrow-thin-right"></i></span></button>

            </div>
            <!-- text -->




        </section>

        <!-- /ARTICLE-->
{% endblock %}