{% extends 'blog/base.html.twig' %}

{% block content %}

       <!--ARTICLE-->

        <section class="uk-section uk-article">


            <div class="uk-container uk-container-small">
                <h3 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top ">Centre Arabo Africain de Formation et de Recherches Théâtrales</h3>

            </div>

            <!-- large image -->
            <div class="uk-container uk-section">
                <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                    <img class="uk-transition-scale-up uk-transition-opaque" src="http://via.placeholder.com/1200x400" alt="">
                </div>

            </div>
            <!-- /large image -->

            <!-- text -->
            <div class="uk-container uk-container-small example" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500">

                <div class="uk-card uk-card-hover uk-card-body">

                    <h3 class="c-title">PROGRAMME ARAF 2020/2021</h3>
                </div>

                <div class="uk-card uk-card-hover uk-card-body">

                    <h3 class="c-title">Mon idée, mon projet</h3>
                    <p>« Mon idée, mon projet » seront un rendez –vous mensuel avec différents acteurs du secteur culturel. L’objectif est de mettre à disposition l’espace pour qu’ils puissent s’exprimer et présenter leurs idées, leurs ambitions et leurs
                        besoins. « Mon idée, mon projet » seront un rendez –vous mensuel avec différents acteurs du secteur culturel. L’objectif est de mettre à disposition l’espace pour qu’ils puissent s’exprimer et présenter leurs idées, leurs ambitions
                        et leurs besoins. « Mon idée, mon projet » seront un rendez –vous mensuel avec différents acteurs du secteur culturel. L’objectif est de mettre à disposition l’espace pour qu’ils puissent s’exprimer et présenter leurs idées, leurs
                        ambitions et leurs besoins.</p>
                </div>

                <div class="uk-card uk-card-hover uk-card-body">


                    <h3 class="c-title">Conditions d’éligibilité : </h3>
                    <ul>

                        <li>Avoir entre 25 et 35 ans</li>
                        <li>Avoir un projet dlié secteur culturel</li>
                        <li>Avoir entre 25 et 35 ans</li>
                        <li>Avoir un projet dlié secteur culturel</li>
                        <li>Avoir entre 25 et 35 ans</li>
                        <li>Avoir un projet dlié secteur culturel</li>
                        <li>Avoir entre 25 et 35 ans</li>
                        <li>Avoir un projet dlié secteur culturel</li>

                    </ul>
                </div>
                <div class="uk-card uk-card-hover uk-card-body">


                    <h3 class="c-title">Samedi 24 octobre « appel à participation »</h3>

                </div>
                <div class="uk-card uk-card-hover uk-card-body">


                    <h3 class="c-title">Samedi 21 Novembre « Mon idée, mon projet #1 »</h3>
                    <p>Des artistes ou acteurs du secteur reviennent avec une présentation concrète de leurs projets à partir des soft skills fournis par El Hamra. Sélection d’un tandem les fonds</p>

                </div>
                <div class="uk-card uk-card-hover uk-card-body">


                    <h4 class="c-title">Samedi 19 décembre </h4>
                    <h4 class="c-title">Speed meeting entre porteur de projets et des représentants de fond</h4>
                    <p>L’idée serait que des représentants de différents fonds pour la culture se présentent aux artistes.</p>
                </div>
                <div class="uk-card uk-card-hover uk-card-body">


                    <h4 class="c-title">Samedi 23 Janvier 2021 « Un mois plus tard »</h4>
                    <p>Les artistes et porteurs de projet reviennent parler de l’évolution de leurs projets et les difficultés qu’ils ont rencontré et de quoi ils ont besoin .</p>
                </div>
                <div class="uk-card uk-card-hover uk-card-body">


                    <h4 class="c-title">Samedi 20 Février 2021 « master class crowdfunding »</h4>
                    <p>Suite à l’autorisation de crowdfunding nous souhaitons donner une master class sur ce mode de financement.</p>
                </div>
                <div class="uk-card uk-card-hover uk-card-body">


                    <h4 class="c-title">Samedi 20 Mars 2021 « La transmission » Débat intergénérationnel</h4>

                </div>

                <button class="uk-button uk-button-secondary  uk-button-large tw-hover btn-subscribe uk-align-center"><span class="tw-hover-inner"><span>Télecharger le formulaire</span><i class="ion-ios-arrow-down"></i></span></button>

            </div>
            <!-- text -->




        </section>

        <!-- /ARTICLE-->
        
{% endblock %}